.search {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-bottom: 3px solid #bb99e6;

    &.expand {
        background: rgba(178, 92, 248, 0.3);
    }

    .searchInputs {
        display: none;

        &.active {
            display: block;
            width: 210px;
            animation: fadeIn 0.2s;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        input {
            background: transparent;
            border: none;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.09px;
            color: #ffffff;
            opacity: 0.8;
            width: 210px;
            padding-left: 27px;
            padding-right: 5px;

            &:focus {
                outline: none;
            }
        }
    }

    .searchBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95px;
        height: 44px;
        cursor: pointer;

        .searchIcon {
            height: 17px;
            width: 17px;
            background-image: url("../../public/assets/search-icon@2x.svg");
            background-size: 100% 100%;
        }
    }
}

@media (max-width: 600px) {
    .search {
        display: none;
    }
}
