$primary-color: #6f02b5;

.container {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px 4px;
    height: 30px;
    background: $primary-color;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 4px;

    &:hover {
        background: linear-gradient(to bottom, #a344df 25%, #6e0fa8 100%);
        transition: all 0.2s ease;
        cursor: pointer;
    }

    .icon {
        display: flex;
        align-items: center;
        background-image: url("../../public/assets/bookmarkon-icon@2x.svg");
        width: 10.5px;
        height: 13.5px;
        margin-right: 5px;
    }

    .btn {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: 0;
        padding: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
    }
}
