$minColWidth: 18rem;
$gridGap: 30px;

.grid_wrap {
    margin: 37px 0 15px 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $gridGap;

    & + .grid {
        margin-top: $gridGap;
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h1 {
        line-height: 49px;
        margin: 0;
    }

    .toolkit {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        Select {
            margin-left: 22px;
        }
    }
}

.main {
    .loading {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.empty {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .icon {
        display: block;
        background-image: url("../../public/assets/search-no-found.svg");
        width: 100px;
        height: 100px;
        background-size: 100% 100%;
        margin-bottom: 15px;
    }

    h4 {
        color: #696969;
    }
}

@media (max-width: 600px) {
    .grid_wrap {
        margin: 2rem 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($minColWidth, 1fr));
        grid-gap: $gridGap;

        & + .grid {
            margin-top: $gridGap;
        }
    }

    .heading {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h1,
        .toolkit {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            > * {
                margin-top: 10px;
            }

            Select {
                margin: 0;
            }
        }
    }
}
