.heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h1,
    .toolkit {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .heading {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h1,
        .toolkit {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            > * {
                margin-top: 10px;
            }
        }
    }
}
