$font-stack: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, $font-stack;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
