// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

// Font Variables
$font-stack: "Inter", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, $font-stack;
}

h1,
h2,
h4 {
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.07px;
    color: rgba(0, 0, 0, 0.87);
    margin: 10px 0px;
    padding: 0;
}

h1 {
    font-size: 48px;
    line-height: 49px;
}

h2 {
    font-size: 34px;
    line-height: 39px;
}

h4 {
    font-size: 20px;
    line-height: 26px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

main {
    padding-top: 44px;
}

.content {
    height: 100vh; /* for shorter content */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    padding: 60px 16px;
    width: 100%;
    max-width: 1140px;

    &.not-found {
        justify-content: center;
        align-items: center;
    }
}

.loader-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found {
    text-align: center;

    a {
        color: #4979ff;
        text-decoration: underline;
    }
}

/* Resize article media */
.gu-image {
    width: 100%;
    height: auto;
}

.element-video iframe {
    height: 280px;
    width: 100%;
    resize: both;
    overflow: auto;
}

/* Change nprogress bar color */
$nprogress-color: #00e1ff;
#nprogress {
    .bar {
        background: $nprogress-color !important;
    }
    .peg {
        box-shadow: 0 0 10px $nprogress-color, 0 0 5px $nprogress-color;
    }
    .spinner-icon {
        border-top-color: $nprogress-color;
        border-left-color: $nprogress-color;
    }
}

$selection-color: #b951ff;
::-moz-selection {
    background: $selection-color;
    color: white;
}

::selection {
    background: $selection-color;
    color: white;
}

::placeholder {
    color: #af8ed8;
}
